calc==1.0
Calculator==1.1.0
click==8.0.1
colorama==0.4.4
docutils==0.17.1
greenlet==1.1.0
importlib-metadata==4.5.0
joblib==1.0.1
lockfile==0.12.2
loglikelihood==0.1
luigi==3.0.3
nltk==3.6.2
numpy==1.20.3
pandas==1.2.4
psutil==5.8.0
py-stringmatching==0.4.2
python-daemon==2.3.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
SQLAlchemy==1.4.18
tenacity==6.3.1
threadpoolctl==2.1.0
tornado==6.1
tqdm==4.61.1
typing-extensions==3.10.0.0
zipp==3.4.1

dill~=0.3.4
spacy~=3.1.1